<%- include('partials/header.ejs') %>

<h1>Home</h1>
<p><%= homeContent %></p>

<% postList.forEach(function(post){ %>
    <% const maxLength = 100; %>
    <% const postHeading = post.Title; %>
    <% const postContent = post.Body.length>maxLength ? post.Body.substring(0,100) + "..." : post.Body; %>
     
    <h1><%= postHeading %></h1>
    <p><%= postContent %> <a href="/posts/<%= postHeading %>">Read More</a></p>
<% }); %>


<%- include('partials/footer.ejs') %>