<%- include('partials/header.ejs') %>

<h1>Home</h1>
<p><%= homeContent %></p>
<% console.log(postList); %>

<% postList.forEach(function(post){ %>
    <% const postHeading = String(post.Title); %>
    <% const postContent = String(post.Body); %>
    <h1><%= postHeading %></h1>
    <p><%= postContent %></p>
<% }); %>


<%- include('partials/footer.ejs') %>